/*================================
========= devices width =========
=================================*/
$xs: '0';
$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';

/*================================
============= colors ============
=================================*/
$primary: #c2061b;
$white: #ffffff;
$text-color: #333333;
